<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page !</h1>
      
        <br>
        <h2>To view the available survey list please use the navbar and click the 'Survey' site</h2>
        <a href="/survey-list"><h3>Or just click me</h3></a>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>