<!--
Group Members: 	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
		Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
		Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
		Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
		Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
		Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer

Curse Name: Web Application Development
Curse Code:COMP229
Assignment: Group Project
File: add.ejs
Date: 2023-07-23
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="fullNameTextField">Full name</label>
                    <input type="text" class="form-control"
                    id="fullNameTextField"
                    placeholder="Enter your full name"
                    name="fullName" required>
                </div>

                <div class="form-group">
                    <label for="phoneNumberTextField">Phone number</label>
                    <input type="text" class="form-control"
                    id="phoneNumberTextField"
                    placeholder="Enter the Phone number"
                    name="phoneNumber" required>
                </div>

                <div class="form-group">
                    <label for="messageTextField">Message</label>
                    <textarea type="text" class="form-control"
                    id="messageTextField"
                    placeholder="Enter the message"
                    name="message" required></textarea>
                </div>

                <div class="form-group">
                    <label for="nameTextField">Rating</label>
                    <input type="text" class="form-control"
                    id="ratingTextField"
                    placeholder="Enter webpage rating out of 10"
                    name="rating" required>
                </div>

                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>