<!--
Group Members
	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
	Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
	Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
	Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
	Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
	Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer


Curse Name: Web Application Development
Curse Code:COMP229
Assignment: Group Project
File: list.ejs
Date: 2023-07-23
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>


            <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/survey-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a new Survey</a>
            <% } %>
            <br><br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-4">Title</th>
                        <th class="text-center col-6">Question</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                        <th class="text-center col-5">Title</th>
                        <th class="text-center col-7">Question</th>
                    <% } %>
                </tr>
                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <tr class="d-flex">
                        <% if (typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-4"><%= SurveyList[count].title %></td>
                            <td class="text-center col-6"><%= SurveyList[count].question %></td>
                            <td class="text-center col-1">
                                <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-5"><%= SurveyList[count].title %></td>
                            <td class="text-center col-7"><%= SurveyList[count].question %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>