<!--
Group Members
	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
	Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
	Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
	Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
	Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
	Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer


Course Name: Web Application Development
Course Code:COMP229
Assignment: Group Project
File: list.ejs
Date: 2023-07-23
-->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1>
            <form action="/submit/<%= survey._id %>" method="POST">
                <input type="hidden" name="surveyId" value="<%= survey._id %>">
                <% for (let i = 0; i < survey.questions.length; i++) { %>
                    <% const question = survey.questions[i]; %>
                    <div class="form-group">
                        <label for="question<%= i %>"><h1 style="color: black;"><%= question.question %></h1></label>
                        <select class="form-control" id="question<%= i %>" name="answers_<%= i %>">
                            <option value="">Select an answer</option>
                            <% for (let choice of question.choices) { %>
                                <option value="<%= choice %>"><%= choice %></option>
                            <% } %>
                        </select>
                    </div>
                <% } %>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>