<!--
Group Members
	Alberto Mcwhirter-Javier	- 301203948 - amcwhir1@my.centennialcollege.ca 	- Lead Software Engineer
	Andre Henrique Moyses de Assis	- 301282773 - amoysesd@my.centennialcollege.ca 	- Project Manager
	Gregory Wheeler	 - 301306049 - gwheele4@my.centennialcollege.ca	- Security Programmer
	Noveen Mirza		- 301208653 - nmirza13@my.centennialcollege.ca	- Database Programmer
	Samiul Alim Rafid	 - 301244377- srafid1@my.centennialcollege.ca	- Web Designer
	Tahnee Pitter-Duncan 		- 300844090 - tpitterd@my.centennialcollege.ca 	- UI Programmer


Course Name: Web Application Development
Course Code:COMP229
Assignment: Group Project
File: login.ejs
Date: 2023-07-23
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">
    <!-- Message Area -->

    <% if(messages.length > 0) { %>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="wrapper">
        <div class="logo">
            <img src="/Images/ScriptSavvyLogo2.png" alt="Logo-Image">
        </div>
        <div class="text-center mt-4 name">
            Log In
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn">Login</button>
        </form>
        <div class="text-center fs-6">
            Not registered? <a href="/register">Sign up</a>
        </div>
    </div>

    <!-- <div class="row">
        <div class="offset-md-4 col-md-4 authPages">
            <h1>Log In</h1>
            <form method="POST" autocomplete="off">
                <div class="divForm">
                    <fieldset class="form-group">
                        <label for="username">Username: </label>
                        <input type="text" class="form-control"
                        name="username" placeholder="Enter Username"
                        id="username" required autofocus>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control"
                        name="password" placeholder="Enter Password"
                        id="password" required>
                    </fieldset>
                </div>
                or
                <a href="/register">Register Here</a>
                <br><br>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div> -->
</main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>